* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header, footer {
    min-height: 5vh;

    background-color: rgba(176, 196, 222, 0.467);
    
    font-size: 2rem;
    text-align: center;
    line-height: 5vh;
}

.wrapper {
    min-height: calc(100vh - 10vh - (2 * 30px));
    background-color: whitesmoke;
    margin: 30px auto;
}

.main-content {
    /* width: 70vw; */
    /* max-width: 75ch; */
    /* the max size is 75ch , before or smaller screen its 70% screen ,
     after width of 75ch  its stops to add size   */
    width: min(70vw, 100ch);

    border: 1px solid lightgray;
    padding: 10px;
    margin: auto;
}

p {
    width: 90%;

    padding: 1em;
    background-color: rgb(208, 208, 208);
    margin-inline: auto;
    
    color: white;
}